body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    .ibg {
        opacity: 0;
    }
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    background-image: url("./src/js/reset/img/bg/black/bg.png");
}

:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: none;
}

.bg {
    background-image: url("./src/js/reset/img/bg/black/bg.png");
}

.ibg {
    opacity: 0;
}

.ibg.act {
    opacity: 100;
}